# https://docs.github.com/en/github-ae@latest/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @derberg @magicmatatjahu

# Documentation - must be (almost) at the end of this file
# /docs @klaudiagrz @mentelka
# *.md @klaudiagrz @mentelka